extends layout

block content
  section(class="box")
    h1 Welcome to #{title}
    h2 Create your hero
    form(method="POST")
      input(type="text" id="superHeroName" required autofocus placeholder="enter name" class="entry")
      select(id="superHeroSex" required class="entry")
        option(value="" disabled selected) Select gender
        option(value="Male") Male
        option(value="Female") Female
        option(value="Other") Other
      textarea(id="superHeroDescription" required placeholder="Describe your superhero" class="entry")
      input(type="text" id="superPowerName" required placeholder="enter super power" class="entry")
      //- input(type="text" id="superPowerDescription" required placeholder="enter description super power" class="entry")
      input(type="text" id="planetName" required placeholder="enter nom de la planete" class="entry")
      //- input(type="text" id="gadgetName" required placeholder="enter name gadget" class="entry")
      //- input(type="text" id="gadgetDescription" required placeholder="enter description gadget" class="entry")
      input(type="text" id="squadName" required placeholder="enter name squad" class="entry")
      input(type="text" id="cityName" required placeholder="enter name city" class="entry")
      //- input(type="text" id="enginName" required placeholder="enter engin name" class="entry")
      //- input(type="text" id="enginDescription" required placeholder="enter description engin" class="entry")
      //- input(type="text" id="enginType" required placeholder="enter engin type" class="entry")

      button(Id="createHero" type="button" class="btn") Create hero

    script(type="module" src='/javascripts/create_hero.js')