extends layout

block content
  section(class="box")
    h1 Welcome to #{title}
    h2 Create your hero
    form(method="POST")
      input(type="text"  name="superHeroName" required autofocus placeholder="enter name" class="entry")
       select(name="superHeroSex" required class="entry")
        option(value="" disabled selected) Select gender
        option(value="Male") Male
        option(value="Female") Female
        option(value="Other") Other
      textarea(name="superHeroDescription" required placeholder="Describe your superhero" class="entry")
    
     input(type="submit" value="createHero" class="btn")
        

  script(type = 'module' src='/javascripts/create_hero.js')