extends layout

block content
  section(class="box")
    h1 Welcome to #{title}
    h2 Create your hero
    form(method="POST")
      input(type="text" name="superHeroName" required autofocus placeholder="enter name" class="entry")
      select(name="superHeroSex" required class="entry")
        option(value="" disabled selected) Select gender
        option(value="Male") Male
        option(value="Female") Female
        option(value="Other") Other
      textarea(name="superHeroDescription" required placeholder="Describe your superhero" class="entry")
      //- input(type="text" name="superPowerName" required placeholder="enter super power" class="entry")
      //- input(type="text" name="superPowerDescription" required placeholder="enter description super power" class="entry")
      //- input(type="text" name="planetName" required placeholder="enter nom de la planete" class="entry")
      //- input(type="text" name="gadgetName" required placeholder="enter name gadget" class="entry")
      //- input(type="text" name="gadgetDescription" required placeholder="enter description gadget" class="entry")
      //- input(type="text" name="squadName" required placeholder="enter name squad" class="entry")
      //- input(type="text" name="enginName" required placeholder="enter engin name" class="entry")
      //- input(type="text" name="enginDescription" required placeholder="enter description engin" class="entry")
      //- input(type="text" name="enginType" required placeholder="enter engin type" class="entry")

      button(Id="createHero" type="button" class="btn") Create hero

    script(type="module" src='/javascripts/create_hero.js')