doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title My Hero App
    link(rel="stylesheet" href="views/styles.css")
  body
    header
      a(href="#" class="logo")
        img(src="image/logo.png" alt="Logo")
      h1.title My Hero App
      a(href="My_Hero_App.pug" class="account")
        img(src="image/compte.png" alt="Compte Utilisateur")
    
    main
      button.button(id="openBtn") Modifier le Héro

      #popup-hero.popup
        .popup-content
          span#closeBtn.close &times;
          h2 Modifier et Afficher
          form#heroForm
            label(for="heroName") Nom du Héro :
            input(type="text" id="heroName" name="heroName")
            br
            br
            label(for="heroGroup") Groupe du Héro :
            input(type="text" id="heroGroup" name="heroGroup")
            br
            br
            label(for="heroGender") Sexe du Héro :
            select(id="heroGender" name="heroGender")
              option(value="homme") Homme
              option(value="femme") Femme
              option(value="autres") Autres
            br
            br
            label(for="heroPlanet") Planète du Héro :
            input(type="text" id="heroPlanet" name="heroPlanet")
            br
            br
            label(for="heroCity") Ville du Héro :
            input(type="text" id="heroCity" name="heroCity")
            br
            br
            label(for="heroPower") Pouvoir du Héro :
            input(type="text" id="heroPower" name="heroPower")
            br
            br
            label(for="heroVehicle") Véhicules du Héro :
            input(type="text" id="heroVehicle" name="heroVehicle")
            br
            br
            label(for="heroWeapon") Armes du Héro :
            input(type="text" id="heroWeapon" name="heroWeapon")
            br
            br
            button(type="submit") Enregistrer

      .container
        .cards-hero-grid
          each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
            .flip-card
              .flip-card-inner
                .flip-card-front
                  p.title Nom du Hero
                  p Groupe du Héro
                .flip-card-back
                  p.title Nom du héro
                  p Groupe du héro
                  p Planète du héro
                  p Ville du héro
                  p Pouvoir du héro
                  p Véhicules du héro
                  p Gadget du héro

      .filter-container
        h3 Filtrer par catégorie
        
        label Véhicule
        #vehicule-sub.subcategory
          label
            input(type="checkbox" name="vehicule" value="voiture")
            |  Voiture
          label
            input(type="checkbox" name="vehicule" value="moto")
            |  Moto
          label
            input(type="checkbox" name="vehicule" value="avion") 
            | Avion

        label Armes
        #armes-sub.subcategory
          label
            input(type="checkbox" name="armes" value="épée") 
            | Épée
          label
            input(type="checkbox" name="armes" value="pistolet")
            |  Pistolet
          label
            input(type="checkbox" name="armes" value="arc") 
            | Arc

        label Ville
        #ville-sub.subcategory
          label
            input(type="checkbox" name="ville" value="paris")
            |  Paris
          label
            input(type="checkbox" name="ville" value="new-york")
            |  New York
          label
            input(type="checkbox" name="ville" value="tokyo") 
            | Tokyo

        label Héros
        #heros-sub.subcategory
          label
            input(type="checkbox" name="heros" value="force")
            |  Force
          label
            input(type="checkbox" name="heros" value="vitesse")
            |  Vitesse
          label
            input(type="checkbox" name="heros" value="intelligence") 
            | Intelligence

        label Équipe
        #equipe-sub.subcategory
          label
            input(type="checkbox" name="equipe" value="alpha") 
            | Alpha
          label
            input(type="checkbox" name="equipe" value="beta") 
            | Beta
          label
            input(type="checkbox" name="equipe" value="gamma") 
            | Gamma

    script(src="javascript/script.js")
