doctype html
html
  head
    title Liste des Héros
    script(src="/javascripts/getHeroes.js"  type="module" defer)
  body
    h1 Liste des Héros

    div#heroes-container
      p Chargement des héros...

