extends layout

block content
  section(class="box")
    h1 Create Your Superhero
   
   
    form(method="POST")
      input(type="text" name="SuperHeroName" required autofocus placeholder="Enter superhero name" class="entry")
      select(name="SuperHeroSex" required class="entry")
        option(value="" disabled selected) Select gender
        option(value="Male") Male
        option(value="Female") Female
        option(value="Other") Other
      textarea(name="SuperHeroDescription" required placeholder="Describe your superhero" class="entry")
      
      button(Id="create" type="submit" class="btn") Create Superhero

  script(type='module' src='/javascripts/super_hero.js')
